body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    height: 200px;
    
}

.header-content {
    position: relative;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; /* Text color, adjust as needed */
    z-index: 1; /* Ensure the title is above the image */
}

header img {
    max-width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: auto;
}

.menu-sidebar {
    background-color: #eee;
    padding: 10px;
}

.menu-sidebar ul {
    list-style: none;
    padding: 0;
}

.menu-sidebar a {
    text-decoration: none;
    color: #333;
}

.main-content {
    padding: 20px;
    text-align: center;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 5px;
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

#winner-display {
    margin-top: 20px;
    font-size: 18px;
}


#amazon-image {
    width: 100%; /* Set the width to 100% to ensure responsiveness */
    max-width: 300px; /* Set a maximum width if needed */
    height: auto;
    margin-top: 20px;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    height: 200px;
}

