body {
    font-family: 'cursive', sans-serif;
    text-align: center;
    background-image: url("./black.jpg");
}

#story {
    margin: 20px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    color: white;
}

#choices {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    color: black;
}
